<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/jquery.fullPage.min.js"></script>
    <!-- smoosh -->
    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="static/css/main/main.css">
    <link rel="stylesheet" href="static/css/jquery.fullPage.css">
    <!-- endbuild -->
    <!-- endsmoosh -->
    <title>{{ title }}</title>
</head>
<body>

</body>
</html>
