<div class="honeycombs_container">
    <a class="honeycomb nav" data-menuanchor="adult" href="#adult">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "https://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg class="honeycomb_interior" version="1.1" id="Слой_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <g>
                <g>
                    <defs>
                        <rect id="SVGID_1_" x="25.3" y="28.7" width="49.2" height="42.8"/>
                    </defs>
                    <clipPath id="SVGID_2_">
                        <use xlink:href="#SVGID_1_"  overflow="visible"/>
                    </clipPath>
                    <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M68.4,68.7c0-1.5-1.2-2.8-2.8-2.8H34.1c-1.5,0-2.8,1.2-2.8,2.8
                        c0,1.5,1.2,2.8,2.8,2.8h31.5C67.1,71.4,68.4,70.2,68.4,68.7L68.4,68.7z M68.4,68.7"/>
                    <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M28.5,46.4c0,0,0.1,0,0.1,0L33,62.2h33.6L71,46.4c0,0,0.1,0,0.1,0
                        c1.8,0,3.3-1.5,3.3-3.3c0-1.8-1.5-3.3-3.3-3.3c-1.8,0-3.3,1.5-3.3,3.3c0,0.4,0.1,0.7,0.2,1l-7.9,4.6l-8.5-14.1
                        c0.9-0.6,1.5-1.6,1.5-2.7c0-1.8-1.5-3.3-3.3-3.3c-1.8,0-3.3,1.5-3.3,3.3c0,1.1,0.6,2.1,1.5,2.7l-8.5,14.1l-7.9-4.6
                        c0.1-0.3,0.2-0.7,0.2-1c0-1.8-1.5-3.3-3.3-3.3c-1.8,0-3.3,1.5-3.3,3.3C25.3,44.9,26.7,46.4,28.5,46.4L28.5,46.4z M28.5,46.4"/>
                </g>
            </g>
        </svg>
        {% include 'parts/overlay.html.twig' %}
    </a>
    <a class="honeycomb nav" data-menuanchor="children" href="#children">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "https://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg class="honeycomb_interior" version="1.1" id="Слой_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <g>
                <g>
                    <defs>
                        <rect id="SVGID_1_" x="33.6" y="26.7" width="30.4" height="44"/>
                    </defs>
                    <clipPath id="SVGID_2_">
                        <use xlink:href="#SVGID_1_"  overflow="visible"/>
                    </clipPath>
                    <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M48.8,38.6c1.7,0,3.3-0.7,4.4-2c1.1-1.2,1.6-2.9,1.4-4.6
                        c-0.2-1.6-1.1-3.1-2.5-4c-1.4-1-3.1-1.3-4.8-0.8c-1.6,0.4-2.9,1.5-3.7,2.9c-0.8,1.5-0.9,3.3-0.3,4.8c0.6,1.5,1.8,2.7,3.3,3.3
                        C47.3,38.5,48.1,38.6,48.8,38.6L48.8,38.6z M48.8,38.6"/>
                    <path clip-path="url(#SVGID_2_)" fill="#FFFFFF" d="M63.2,27c-0.8-0.5-1.9-0.4-2.4,0.4c0,0-5.4,8.2-7.3,10.4
                        c-1.4,1.6-2.7,2.1-4.7,1.8c-1-0.1-13.1-3.2-13.1-3.2c-0.9-0.2-1.7,0.3-2,1.1c-0.3,0.8,0.1,1.7,0.8,2.1c0.1,0,0.1,0.1,0.2,0.1
                        l13.2,4.8c0.1,0.2,0.7,2,1.1,3.8c0.2,1.2,0.3,2.3,0.4,3.5c0,0.8,0,1.7,0,2.5c0,0.9,0.1,1.7,0.5,2.5c0,1.1-0.1,2.2-0.2,3.2
                        c-0.1,1.2-0.3,2.4-0.5,3.5c-0.2,1.5-0.6,2-0.7,2.1c-0.5,0.2-1,0.1-1.5,0.1c-0.6-0.1-1.2-0.2-1.7-0.4c-0.5-0.1-1-0.3-1.5-0.5
                        c-0.4-0.1-0.8-0.3-1.1-0.5c-0.2-0.1-0.4-0.2-0.5-0.2c-0.2,0-0.4-0.1-0.6,0c-0.4,0-0.8,0.2-1.1,0.4c-0.7,0.5-1,1.4-0.8,2.2
                        c0.1,0.6,0.5,1.1,1.1,1.4c1.7,0.9,3.5,1.7,5.4,2.1c1,0.2,2.1,0.3,3.1,0.2c1.1-0.2,2.1-0.6,2.9-1.4c0.2-0.2,0.4-0.4,0.5-0.6
                        c0,0,0,0,0,0c0,0,0,0,0,0c0.1-0.1,0.2-0.3,0.3-0.4c0.2-0.2,0.3-0.5,0.4-0.7c0.3-0.5,0.5-1,0.7-1.5c0.4-1.1,0.7-2.1,1-3.2
                        c0.2-0.7,0.3-1.4,0.5-2.2c0.3,0,0.6,0,0.9-0.1c0.5,1.1,1,2.2,1.4,3.3c-1.1,0.4-1.6,1.7-1.2,2.8c0.3,0.7,0.7,1.4,1.2,2
                        c0.6,0.6,1.3,1.1,2.2,1.4c0.5,0.1,0.9,0.2,1.4,0.1c1-0.1,1.8-0.9,1.9-1.9c0.4-2.2,0-4.4-0.5-6.5c-0.3-1.1-0.6-2.3-1-3.4
                        c-0.2-0.7-0.5-1.5-0.8-2.2c-0.1-0.1-0.1-0.3-0.2-0.4c0.1-0.5,0.1-1,0-1.4c0-0.5-0.1-1-0.1-1.4c-0.1-1.1-0.3-2.3-0.5-3.4
                        c-0.4-2.3-1.1-4.6-2-6.8c-0.2-0.6-0.5-1.2-0.8-1.8l6.2-11.5C64.1,28.5,63.9,27.5,63.2,27C62.4,26.4,63.9,27.5,63.2,27L63.2,27z
                         M63.2,27"/>
                </g>
            </g>
        </svg>
        {% include 'parts/overlay.html.twig' %}
    </a>
    <a class="honeycomb nav" data-menuanchor="business" href="#business">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "https://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg class="honeycomb_interior" version="1.1" id="Слой_1" xmlns="https://www.w3.org/2000/svg"
             xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <g>
                <g>
                    <defs>
                        <rect id="SVGID_1_" x="25.8" y="30" width="47.8" height="40.1"/>
                    </defs>
                    <clipPath id="SVGID_2_">
                        <use xlink:href="#SVGID_1_" overflow="visible"/>
                    </clipPath>
                    <path clip-path="url(#SVGID_2_)" fill="#FFFFFF"
                          d="M61.2,37.6V30H38.1v7.6H42v-3.7h15.2v3.7H61.2z M61.2,37.6"/>
                </g>
                <rect x="25.8" y="44.4" fill="#FFFFFF" width="47.7" height="19.9"/>
                <rect x="25.8" y="38.9" fill="#FFFFFF" width="47.7" height="4.2"/>
                <rect x="25.8" y="65.6" fill="#FFFFFF" width="47.7" height="4.5"/>
            </g>
        </svg>
        {% include 'parts/overlay.html.twig' %}
    </a>
</div>