{% block urls %}
    <ul class="move">
        <li ><a href="#about">о&nbsp;нас</a></li>
        <li><p>/</p></li>
        <li><a href="#children">направления</a></li>
        <li><p>/</p></li>
        <li><a href="#contacts">контакты</a></li>
    </ul>
{% endblock %}